body{
    background-color: rgb(219, 219, 219);
}
div{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
}
.light{
    background-color: lightgray;
}
.dark{
    background-color: darkgray;
}