body {
  font-family: "Monaco", "Monaco", Monospace;
  background: #9e9e9e;
}
.header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #131921;
  margin: -10px;
  color: #ffffff;
  height: 60px;
  /* position: relative; */
}
.header > div {
  margin: 10px;
}
.logo img {
  width: 150px;
  height: 60px;
  border-radius: 50%;
}

.address {
  color: white;
  margin-left: -50px;
  font: oblique small-caps 10px cursive;
  align-self: center;
  color: #9e9e9e;
  line-height: 1px;
}
span {
  color: #ffffff;
  font: oblique small-caps bolder 17px cursive;
  align-self: center;
}
.search_bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-self: center;
  width: 50%;
  height: 42px;
  /* max-width: 100px; */
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.all_search_bar {
  width: 7%;
  background-color: gray;
  border-radius: 5px 0px 0px 5px;
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px 7px;
  text-decoration: none;
  font-size: 14px;
}
.search {
  width: 80%;
  height: 50px;
  padding: 10px;
}
.search input[type="text"] {
  width: 200px;
  height: 25px;
  border-radius: 50px;
  border: none;
}
.enter_search_bar {
  /* height: 5px; */
  width: 5%;
}
.country {
  color: #ffffff;
  font: oblique small-caps bolder 15px cursive;
}
.account {
  font: oblique small-caps bolder 10px cursive;
  line-height: 1px;
}
.orders {
  font: oblique small-caps bolder 10px cursive;
  line-height: 1px;
}
.cart {
  font: oblique small-caps bolder 20px cursive;
  line-height: 1px;
}
p {
  font-size: xxx-large;
}
